body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

textarea { resize: none; overflow: hidden;}

.error,.required {color: red;}

input[type="date"]{
  color: inherit;
}
label {text-align: left;}